#header {
    display: flex;
    width: 100%;
    background-color: white;
    align-items: center;
    align-self: center;
    margin-top:5%;
}

#header_img {
    width: 100%;
}

body {
    padding: 2px;
    font-family: "Roboto Light", sans-serif;
    overflow:auto;
}

#header_bibliothek {
    font-family: "Apple Chancery", cursive;
    z-index: 1;
}

#main_screen {
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #FAF0E6;
    position: relative;
    border-radius: 10px;

}

h3 {
    font-family: "Roboto Light", sans-serif;
    height: 10%;
    position: relative;
    padding-left: 7px;
    padding-top: 7px;
    align-self: center;
}

.bookCover:hover {
    cursor: pointer;
}

.bookCover {
    justify-content: center;
    display:flex;
    align-self: center;
    zoom: 60%;
    margin-top: 5%;
}

#noImg {
    background-color: rgb(228, 226, 226);
    align-self: center;
}

.book {
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 5px;
    padding-bottom: 3px;
    border: 2px ridge rgb(113, 67, 42);
    border-radius: 10px;
    position: relative;
}

.like-button {
    position: absolute;
    cursor: pointer;
}

.like-button .heart {
    width: 20px;
    height: 20px;
    background-color: rgb(249, 101, 101);
    transform: rotate(-45deg);
}

.like-button .heart:before,
.like-button .heart:after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: rgb(249, 101, 101);
    border-radius: 50%;
    position: absolute;

}

.like-button .heart:before {
    top: -10px;
    left: 0;

}

.like-button .heart:after {
    top: 0;
    left: 10px;
}

.like-popup {
    display: none;
    position: absolute;
    transform: translateX(-45%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.like-button:hover .like-popup {
    display: block;
}

#bookInfo {
    align-self: start;
    padding-left: 5%;
}

#bookList {
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17%, 1fr));
    grid-gap: 2vh;
}

#bookPrice {
    text-align: right;
    font-weight: bold;
}

td {
    padding-bottom: 3%;
    ;
}

.infoName {
    font-weight: bold;
    align-self: flex-start;
    display:flex;
}

.regularions {
    display: flex;
    justify-content: space-between;
}

#copyright {
    font-family: "Roboto Thin", sans-serif;
}

footer {
    display: inline-block;
    flex-direction: row;
    margin-left: 20px;
    margin-bottom: 20px;

}

footer a {
    color: black; 
    text-decoration: none; 
    padding: 3px;
}
a:hover {
    text-decoration: underline;
}

#errorLoading {
    color: red;
    font-weight: bold;
}

.state {
    margin-left: 20px;
}

.buttonList ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-self: center;

    
}

li {
    text-decoration: none;
}

.buttonList {
    background-color: white;
    font-size: 15px;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    position:fixed;
    height: fit-content;
    top:0;
    z-index: 2;
    border-top: 3px solid burlywood; 

    
}
.menuButton {
    
    margin-right: 3%;
}

.buttonList ul li :hover {
    color: #08520E;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.pagination button {
    cursor: pointer;
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;

    margin: 10px 5px 10px 0;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

